.nav-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFF;
    max-width: 1440px;
    
    }
    
    .nav-heading{
    
    font-size: 2rem;
    margin-left: 25px;
    font-weight: bolder;
    
    }
    .nav-link > ul{
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    }
    
    .nav-link li{
    
    list-style-type: none;
    
    }
    
    .nav-link, a, img{
    
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    font-size: 1.2rem;
    color:black;
    font-weight: 600;
    }
    










    @media screen and (max-width:400px){

        .nav-container{

            flex-direction: column;
            
        }
        
        .nav-link > ul{
    
            flex-direction: column;
            gap:10px;
            
            }

      
    }